In [3]:
import pandas as pd

data = [10, 23, 50, 24]

sr = pd.Series(data, index=['one', 'two', 'three', 'four'])

print(sr, type(sr))

one      10
two      23
three    50
four     24
dtype: int64 <class 'pandas.core.series.Series'>

In [8]:
# DataFrame

data = [['ravi', 30], ['saket', 28], ['shubham', 40]]

df = pd.DataFrame(data, columns=["name", 'marks'])

# print(df)

df.to_csv("C:\\Users\\Amirkhan\\Desktop\\new project\\student_info.csv", index=False)

sr = df[['name', 'marks']]
print(sr, type(sr))

      name  marks
0     ravi     30
1    saket     28
2  shubham     40 <class 'pandas.core.frame.DataFrame'>

In [29]:
import pandas as pd

df = pd.read_csv("pokemon_data.csv")

# print(df.head(3))
# print(df.tail(5))

0                      Bulbasaur
1                        Ivysaur
2                       Venusaur
3          VenusaurMega Venusaur
4                     Charmander
5                     Charmeleon
6                      Charizard
7      CharizardMega Charizard X
8      CharizardMega Charizard Y
9                       Squirtle
10                     Wartortle
11                     Blastoise
12       BlastoiseMega Blastoise
13                      Caterpie
14                       Metapod
15                    Butterfree
16                        Weedle
17                        Kakuna
18                      Beedrill
19         BeedrillMega Beedrill
20                        Pidgey
21                     Pidgeotto
22                       Pidgeot
23           PidgeotMega Pidgeot
24                       Rattata
25                      Raticate
26                       Spearow
27                        Fearow
28                         Ekans
29                         Arbok
                 ...
770                      Sylveon
771                     Hawlucha
772                      Dedenne
773                      Carbink
774                        Goomy
775                      Sliggoo
776                       Goodra
777                       Klefki
778                     Phantump
779                    Trevenant
780        PumpkabooAverage Size
781          PumpkabooSmall Size
782          PumpkabooLarge Size
783          PumpkabooSuper Size
784        GourgeistAverage Size
785          GourgeistSmall Size
786          GourgeistLarge Size
787          GourgeistSuper Size
788                     Bergmite
789                      Avalugg
790                       Noibat
791                      Noivern
792                      Xerneas
793                      Yveltal
794             Zygarde50% Forme
795                      Diancie
796          DiancieMega Diancie
797          HoopaHoopa Confined
798           HoopaHoopa Unbound
799                    Volcanion
Name: Name, Length: 800, dtype: object

In [12]:
# create a csv file with user-id and password

import pandas as pd

lst = []

while 1:
    user_id = input("enter the user-id: ")
    password = input("Enter the password ")
    lst.append([user_id, password])
    if input("Do you want to enter another data Y/N :") == 'N':
        break

df = pd.DataFrame(lst, columns=['user-id', 'password'])
df.to_csv("student_info.csv", index=False)

print(df)

   user-id password
0     ravi      123
1  mandeep     6878

In [23]:
# search password with given user-id

df2 = pd.read_csv("student_info.csv")
us_id = input("Enter the user id ")
for i in range(len(df2.iloc[0])):
    if df2.iloc[i]["user-id"]  == us_id:
        print(df2.iloc[i]['password'])

6878

In [50]:
import pandas as pd

# df = pd.read_csv("pokemon_data.txt", delimiter='\t')

df = pd.read_excel("pokemon_data.xlsx")

# df
# df.iloc[0:3]
# df.loc[df['Speed'] < 50 ]

# df.describe()

# df.sort_values("Name", ascending=False)
# df.sort_values(["Name", 'HP'], ascending=[0, 1])

df["total"] = df["HP"] + df["Attack"] + df["Defense"] + df["Sp. Def"] + df["Speed"]
df

In [36]:
statename=input('What is the state: Karnataka/Tamil Nadu/Maharashtra/India : ')
states=["Karnataka","Tamil Nadu","Maharashtra","India"]

if statename in states:
     print(statename)
else:
    print("Data not found. Please select among the above options")
    
    

unit=input('Cost or Rating: ')
unit1=['Cost','Rating']
if unit in unit1:
     print(unit)
else:
    print("Data not found. Please select among the above options")
    
    

operation3=input('Operations:-Cheapest/Average/Highest: ')
operation=["Cheapest","Average","Highest"]



if operation3 in operation:
     print(operation3)
else:
    print("Data not found. Please select among the above options")
    

operationlist=['Rating','Cost']
        
if unit in operationlist[0]:
    if operation3 in operation[0]:
        print("{} rating of hotel in {} is max.cost".format(operation3,statename))
    elif operation3 in operation[1]:
        print("{} rating of hotel in {} is 6".format(operation3,statename))
    elif operation3 in operation[2]:
        print("{} rating of hotel in {} is 10".format(operation3,statename))
    else:
        print("Data not found")
else:    
    if operation3 in operation[1]:
        print("Hotel with {} price in {} is abc with price 400".format(operation3,statename))
    elif operation3 in operation[1]:
        print("Hotel with {} price in {} is abc with price 1308".format(operation3,statename))
    elif operation3 in operation[2]:
        print("Hotel with {} price in {} is abc with price 2200".format(operation3,statename))
    else:
        print("Data not found")

Tamil Nadu
Cost
Average
Hotel with Average price in Tamil Nadu is abc with price 400