In [1]:
import math

math.sin(10)

-0.5440211108893698

In [1]:
import pandas as pd
#
pd.DataFrame([1, 2, 3, 4])  # test pandas

   0
0  1
1  2
2  3
3  4

In [4]:
df = pd.read_csv("pokemon_data.csv")
# df
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [5]:
df.columns   # display all headers

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [9]:
 # read excel file 
df = pd.read_excel("pokemon_data.xlsx")
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [11]:
# read any text file with delimiter 
# text file with delimiter 

df = pd.read_csv("pokemon_data.txt", delimiter='\t')
df.head()
# df.tail()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [16]:
# read each column 
df["Name"]  # Series single 

print(df["Name"][0]) # o nly Zero index
print(df["Name"][0:4]) # only Zero index 

print(df[['Name', "Type 1", "HP"]])

Bulbasaur
0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
Name: Name, dtype: object
                          Name    Type 1   HP
0                    Bulbasaur     Grass   45
1                      Ivysaur     Grass   60
2                     Venusaur     Grass   80
3        VenusaurMega Venusaur     Grass   80
4                   Charmander      Fire   39
5                   Charmeleon      Fire   58
6                    Charizard      Fire   78
7    CharizardMega Charizard X      Fire   78
8    CharizardMega Charizard Y      Fire   78
9                     Squirtle     Water   44
10                   Wartortle     Water   59
11                   Blastoise     Water   79
12     BlastoiseMega Blastoise     Water   79
13                    Caterpie       Bug   45
14                     Metapod       Bug   50
15                  Butterfree       Bug   60
16                      Weedle       Bug   40
17                      Kakuna       Bug   45
18                    Beedrill       Bug   65
19       BeedrillMega Beedrill       Bug   65
20                      Pidgey    Normal   40
21                   Pidgeotto    Normal   63
22                     Pidgeot    Normal   83
23         PidgeotMega Pidgeot    Normal   83
24                     Rattata    Normal   30
25                    Raticate    Normal   55
26                     Spearow    Normal   40
27                      Fearow    Normal   65
28                       Ekans    Poison   35
29                       Arbok    Poison   60
..                         ...       ...  ...
770                    Sylveon     Fairy   95
771                   Hawlucha  Fighting   78
772                    Dedenne  Electric   67
773                    Carbink      Rock   50
774                      Goomy    Dragon   45
775                    Sliggoo    Dragon   68
776                     Goodra    Dragon   90
777                     Klefki     Steel   57
778                   Phantump     Ghost   43
779                  Trevenant     Ghost   85
780      PumpkabooAverage Size     Ghost   49
781        PumpkabooSmall Size     Ghost   44
782        PumpkabooLarge Size     Ghost   54
783        PumpkabooSuper Size     Ghost   59
784      GourgeistAverage Size     Ghost   65
785        GourgeistSmall Size     Ghost   55
786        GourgeistLarge Size     Ghost   75
787        GourgeistSuper Size     Ghost   85
788                   Bergmite       Ice   55
789                    Avalugg       Ice   95
790                     Noibat    Flying   40
791                    Noivern    Flying   85
792                    Xerneas     Fairy  126
793                    Yveltal      Dark  126
794           Zygarde50% Forme    Dragon  108
795                    Diancie      Rock   50
796        DiancieMega Diancie      Rock   50
797        HoopaHoopa Confined   Psychic   80
798         HoopaHoopa Unbound   Psychic   80
799                  Volcanion      Fire   80

[800 rows x 3 columns]

In [27]:
# integer index based and label based location 

# iloc and loc

data = df.iloc[1]
print(data)  # series where all header became indexes 

data2 = df.iloc[1:4]  # with range
print(data2)

#                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object
   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122

   Sp. Def  Speed  Generation  Legendary
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False

In [25]:
# read a specific loaction (R, C)

print(df.iloc[2, 1])

Venusaur

In [35]:
#index and raw 
for index, row in df.iterrows():
    if 'Charmander' in row['Name']:
        print(index)

4

In [38]:
# data = df.loc[df["Type 1"] == "Grass"]
# print(data)
data = df.loc[df["HP"] < 50]
print(data)

# not work 
# iLocation based boolean indexing on an integer type is not available
# data_i = df.iloc[df["HP"] > 50]
# print(data_i)

       #                   Name    Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur     Grass  Poison  45      49       49
4      4             Charmander      Fire     NaN  39      52       43
9      7               Squirtle     Water     NaN  44      48       65
13    10               Caterpie       Bug     NaN  45      30       35
16    13                 Weedle       Bug  Poison  40      35       30
17    14                 Kakuna       Bug  Poison  45      25       50
20    16                 Pidgey    Normal  Flying  40      45       40
24    19                Rattata    Normal     NaN  30      56       35
26    21                Spearow    Normal  Flying  40      60       30
28    23                  Ekans    Poison     NaN  35      60       44
30    25                Pikachu  Electric     NaN  35      55       40
37    32         Nidoran (Male)    Poison     NaN  46      57       40
42    37                 Vulpix      Fire     NaN  38      41       40
46    41                  Zubat    Poison  Flying  40      45       35
48    43                 Oddish     Grass  Poison  45      50       55
51    46                  Paras       Bug   Grass  35      70       55
55    50                Diglett    Ground     NaN  10      55       25
56    51                Dugtrio    Ground     NaN  35      80       50
57    52                 Meowth    Normal     NaN  40      45       35
61    56                 Mankey  Fighting     NaN  40      80       35
65    60                Poliwag     Water     NaN  40      50       40
68    63                   Abra   Psychic     NaN  25      20       15
69    64                Kadabra   Psychic     NaN  40      35       30
78    72              Tentacool     Water  Poison  40      40       35
80    74                Geodude      Rock  Ground  40      80      100
88    81              Magnemite  Electric   Steel  25      35       70
91    84                  Doduo    Normal  Flying  35      85       45
97    90               Shellder     Water     NaN  30      65      100
99    92                 Gastly     Ghost  Poison  30      35       30
100   93                Haunter     Ghost  Poison  45      50       45
..   ...                    ...       ...     ...  ..     ...      ...
603  543               Venipede       Bug  Poison  30      45       59
604  544             Whirlipede       Bug  Poison  40      55       99
606  546               Cottonee     Grass   Fairy  40      27       60
608  548                Petilil     Grass     NaN  45      35       50
623  562                 Yamask     Ghost     NaN  38      30       85
631  570                  Zorua      Dark     NaN  40      65       40
635  574                Gothita   Psychic     NaN  45      30       50
638  577                Solosis   Psychic     NaN  45      30       40
643  582              Vanillite       Ice     NaN  36      50       50
658  597              Ferroseed     Grass   Steel  44      50       91
660  599                  Klink     Steel     NaN  40      55       70
663  602                 Tynamo  Electric     NaN  35      55       40
671  610                   Axew    Dragon     NaN  46      87       60
680  619                Mienfoo  Fighting     NaN  45      85       50
685  624               Pawniard      Dark   Steel  45      85       70
721  653               Fennekin      Fire     NaN  40      45       40
724  656                Froakie     Water     NaN  41      56       40
727  659               Bunnelby    Normal     NaN  38      36       38
729  661             Fletchling    Normal  Flying  45      50       43
732  664             Scatterbug       Bug     NaN  38      35       40
733  665                 Spewpa       Bug     NaN  45      22       60
737  669                Flabébé     Fairy     NaN  44      38       39
748  679                Honedge     Steel   Ghost  45      80      100
758  688                Binacle      Rock   Water  42      52       67
764  694             Helioptile  Electric  Normal  44      38       33
774  704                  Goomy    Dragon     NaN  45      50       35
778  708               Phantump     Ghost   Grass  43      70       48
780  710  PumpkabooAverage Size     Ghost   Grass  49      66       70
781  710    PumpkabooSmall Size     Ghost   Grass  44      66       70
790  714                 Noibat    Flying  Dragon  40      30       35

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
4         60       50     65           1      False
9         50       64     43           1      False
13        20       20     45           1      False
16        20       20     50           1      False
17        25       25     35           1      False
20        35       35     56           1      False
24        25       35     72           1      False
26        31       31     70           1      False
28        40       54     55           1      False
30        50       50     90           1      False
37        40       40     50           1      False
42        50       65     65           1      False
46        30       40     55           1      False
48        75       65     30           1      False
51        45       55     25           1      False
55        35       45     95           1      False
56        50       70    120           1      False
57        40       40     90           1      False
61        35       45     70           1      False
65        40       40     90           1      False
68       105       55     90           1      False
69       120       70    105           1      False
78        50      100     70           1      False
80        30       30     20           1      False
88        95       55     45           1      False
91        35       35     75           1      False
97        45       25     40           1      False
99       100       35     80           1      False
100      115       55     95           1      False
..       ...      ...    ...         ...        ...
603       30       39     57           5      False
604       40       79     47           5      False
606       37       50     66           5      False
608       70       50     30           5      False
623       55       65     30           5      False
631       80       40     65           5      False
635       55       65     45           5      False
638      105       50     20           5      False
643       65       60     44           5      False
658       24       86     10           5      False
660       45       60     30           5      False
663       45       40     60           5      False
671       30       40     57           5      False
680       55       50     65           5      False
685       40       40     60           5      False
721       62       60     60           6      False
724       62       44     71           6      False
727       32       36     57           6      False
729       40       38     62           6      False
732       27       25     35           6      False
733       27       30     29           6      False
737       61       79     42           6      False
748       35       37     28           6      False
758       39       56     50           6      False
764       61       43     70           6      False
774       55       75     40           6      False
778       50       60     38           6      False
780       44       55     51           6      False
781       44       55     56           6      False
790       45       40     55           6      False

[148 rows x 12 columns]

In [40]:
# ser = pd.Series([1, 2, 3])
# print(4 in ser)  # membership operators with series 


# describe all mathematically feature 
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [41]:
# sorting

# sort df with name 
# df_namesort = df.sort_values("Name")  # ascending ordered 
df_namesort = df.sort_values("Name", ascending=False)  # descending ordered 
print(df_namesort)

       #                       Name    Type 1    Type 2   HP  Attack  Defense  \
510  460                  Abomasnow     Grass       Ice   90      92       75
511  460    AbomasnowMega Abomasnow     Grass       Ice   90     132      105
68    63                       Abra   Psychic       NaN   25      20       15
392  359                      Absol      Dark       NaN   65     130       60
393  359            AbsolMega Absol      Dark       NaN   65     150       60
678  617                   Accelgor       Bug       NaN   80      70       40
750  681       AegislashBlade Forme     Steel     Ghost   60     150       50
751  681      AegislashShield Forme     Steel     Ghost   60      50      150
153  142                 Aerodactyl      Rock    Flying   80     105       65
154  142  AerodactylMega Aerodactyl      Rock    Flying   80     135       85
332  306                     Aggron     Steel      Rock   70     110      180
333  306          AggronMega Aggron     Steel       NaN   70     140      230
205  190                      Aipom    Normal       NaN   55      70       55
70    65                   Alakazam   Psychic       NaN   55      50       45
71    65      AlakazamMega Alakazam   Psychic       NaN   55      50       65
655  594                  Alomomola     Water       NaN  165      75       80
365  334                    Altaria    Dragon    Flying   75      70       90
366  334        AltariaMega Altaria    Dragon     Fairy   75     110      110
768  698                     Amaura      Rock       Ice   77      59       50
471  424                    Ambipom    Normal       NaN   75     100       66
652  591                  Amoonguss     Grass    Poison  114      85       70
195  181                   Ampharos  Electric       NaN   90      75       85
196  181      AmpharosMega Ampharos  Electric    Dragon   90      95      105
379  347                    Anorith      Rock       Bug   45      95       50
29    24                      Arbok    Poison       NaN   60      85       69
64    59                   Arcanine      Fire       NaN   90     110       80
552  493                     Arceus    Normal       NaN  120     120      120
627  566                     Archen      Rock    Flying   55     112       45
628  567                   Archeops      Rock    Flying   75     140       65
182  168                    Ariados       Bug    Poison   70      90       70
..   ...                        ...       ...       ...  ...     ...      ...
607  547                 Whimsicott     Grass     Fairy   60      67       85
604  544                 Whirlipede       Bug    Poison   40      55       99
372  340                   Whiscash     Water    Ground  110      78       73
317  293                    Whismur    Normal       NaN   64      51       23
45    40                 Wigglytuff    Normal     Fairy  140      70       45
301  278                    Wingull     Water    Flying   40      30       30
217  202                  Wobbuffet   Psychic       NaN  190      33       58
586  527                     Woobat   Psychic    Flying   55      45       43
209  194                     Wooper     Water    Ground   55      45       45
458  413        WormadamPlant Cloak       Bug     Grass   60      59       85
459  413        WormadamSandy Cloak       Bug    Ground   60      79      105
460  413        WormadamTrash Cloak       Bug     Steel   60      69       95
288  265                    Wurmple       Bug       NaN   45      45       35
394  360                     Wynaut   Psychic       NaN   95      23       48
192  178                       Xatu   Psychic    Flying   65      75       70
792  716                    Xerneas     Fairy       NaN  126     131       95
623  562                     Yamask     Ghost       NaN   38      30       85
208  193                      Yanma       Bug    Flying   65      65       45
520  469                    Yanmega       Bug    Flying   86      76       86
793  717                    Yveltal      Dark    Flying  126     131       95
367  335                   Zangoose    Normal       NaN   73     115       60
157  145                     Zapdos  Electric    Flying   90      90       85
582  523                  Zebstrika  Electric       NaN   75     100       63
707  644                     Zekrom    Dragon  Electric  100     150      120
286  263                  Zigzagoon    Normal       NaN   38      30       41
632  571                    Zoroark      Dark       NaN   60     105       60
631  570                      Zorua      Dark       NaN   40      65       40
46    41                      Zubat    Poison    Flying   40      45       35
695  634                   Zweilous      Dark    Dragon   72      85       70
794  718           Zygarde50% Forme    Dragon    Ground  108     100      121

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
510       92       85     60           4      False
511      132      105     30           4      False
68       105       55     90           1      False
392       75       60     75           3      False
393      115       60    115           3      False
678      100       60    145           5      False
750      150       50     60           6      False
751       50      150     60           6      False
153       60       75    130           1      False
154       70       95    150           1      False
332       60       60     50           3      False
333       60       80     50           3      False
205       40       55     85           2      False
70       135       95    120           1      False
71       175       95    150           1      False
655       40       45     65           5      False
365       70      105     80           3      False
366      110      105     80           3      False
768       67       63     46           6      False
471       60       66    115           4      False
652       85       80     30           5      False
195      115       90     55           2      False
196      165      110     45           2      False
379       40       50     75           3      False
29        65       79     80           1      False
64       100       80     95           1      False
552      120      120    120           4       True
627       74       45     70           5      False
628      112       65    110           5      False
182       60       60     40           2      False
..       ...      ...    ...         ...        ...
607       77       75    116           5      False
604       40       79     47           5      False
372       76       71     60           3      False
317       51       23     28           3      False
45        85       50     45           1      False
301       55       30     85           3      False
217       33       58     33           2      False
586       55       43     72           5      False
209       25       25     15           2      False
458       79      105     36           4      False
459       59       85     36           4      False
460       69       95     36           4      False
288       20       30     20           3      False
394       23       48     23           3      False
192       95       70     95           2      False
792      131       98     99           6       True
623       55       65     30           5      False
208       75       45     95           2      False
520      116       56     95           4      False
793      131       98     99           6       True
367       60       60     90           3      False
157      125       90    100           1       True
582       80       63    116           5      False
707      120      100     90           5       True
286       30       41     60           3      False
632      120       60    105           5      False
631       80       40     65           5      False
46        30       40     55           1      False
695       65       70     58           5      False
794       81       95     95           6       True

[800 rows x 12 columns]